// _1_hero.scss

.hero__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 380px;
  background-color: rgba(255, 255, 255, 0.5);
  
  @include breakpoint(md) {
    min-height: 540px;
  }
}

// _1_details.list-v2
.contacts {
  margin: 104px 0;
}